/* Typography - Buttons - Colors */

@import url("2-navigation.css");
@import url("3-kaart.css");
@import url("4-textbox.css");
@import url("5-labyrinth.css");
@import url("6-footer.css");
@import url("7-responsive.css");
@import url("8-hexagone.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: #fff;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	overflow-x: hidden;
}

/* HERO DESKTOP */

.hero {
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-text {
	flex: 0 0 470px;
	max-width: 470px;
	z-index: 2;
	padding-left: 40px;
}

.hero h1 {
	margin: 0 0 34px;
	font-size: clamp(64px, 5vw, 88px);
	font-weight: 700;
	line-height: 1.05;
}

.hero p {
	font-size: clamp(22px, 1.35vw, 27px);
	line-height: 1.28;
}

.hero-img {
	flex: 0 0 700px;
	display: flex;
}

.hero img {
	width: 100%;
}

/* GENERAL */

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.hexagone1 .wrapper {
	width: 100%;
}

h1 {
	font-size: 64px;
	color: #fff;
	margin: 0;
	font-weight: 600;
}

.burgundy {
	display: flex;
	margin: 0 auto;
	margin-left: 80px;
	padding-top: 120px;
	color: #93132a;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.item {
	width: 48%;
	padding-bottom: 100px;
}

.item img {
	width: 100%;
}

.Armoede-I h1 {
	color: #93132a;
	padding-bottom: 50px;
}

.Armoede-I p {
	color: black;
}

.ecologie h1 {
	color: #ffc629;
	padding-bottom: 50px;
}

.wrapper2 {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
