/*https://www.w3schools.com/Css/css_dropdowns.asp*/

.navigation {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	overflow-x: hidden;
	z-index: 3;
	box-sizing: border-box;
}

.navigation li {
	display: inline;
	padding-right: 20px;
}

.navigation ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logo {
	width: 160px;
	padding-left: 20px;
	box-sizing: border-box;
}

.navigation a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: large;
	font-weight: 800;
}

.navigation span {
	padding-right: 20px;
}

.navigation a:hover {
	color: #f5333f;
}
