@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.kaart {
	display: block;
	margin: 0 auto;
	width: 1200px;
}

.material-symbols-list {
	color: white;
	font-size: 20px !important;
}

/*lijst*/

.dropdown button {
	background-color: #f5333f;
	color: white;
	font-size: 24px;
	font-weight: 600;
	width: 100%;
	padding: 15px;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
}

.dropdown a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 15px;
}

.dropdown .list {
	display: none;
	position: absolute;
	width: 100%;
	background-color: hsl(0, 0%, 95%);
	z-index: 5;
}
.dropdown .list.show {
	display: block;
}

.dropdown .list a {
	display: block;
	color: black;
	text-decoration: none;
	padding: 15px;

	transition: all 0.3s ease;
}

.dropdown .list a:hover {
	background-color: #ffc629;
}
.mapdiv {
	max-width: 1532px;
	height: 600px;
	margin: auto;
}
.mapdiv path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.3s;
}
.mapdiv polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.3s;
}
.mapdiv polygon:hover,
.mapdiv path:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}
.mapdivVlaamsBR {
	width: 75%;
	height: 75%;
	margin: auto;
}
.mapdivVlaamsBR path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivVlaamsBR polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivVlaamsBR path:hover,
.mapdivVlaamsBR polygon:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}
.mapdivBrussel {
	width: 50%;
	margin: auto;
}
.mapdivBrussel path:hover,
.mapdivBrussel polygon:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}
.mapdivBrussel path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.3s;
}
.mapdivBrussel polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.3s;
}
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background: white;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid #333;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

	z-index: 1000;
	min-width: 300px;
}
#popupTitle {
	margin: auto;

	color: #ffc629;
	font-family: "Montserrat";
	font-size: 48px;
}
#popupContent {
	color: #000000;
	font-family: "Montserrat";
	font-size: 24px;
}
#closePopup {
	float: right;
	cursor: pointer;
	color: white;
	background-color: #93132a;
	border: none;
	font-family: "Montserrat";
	font-size: 32px;
	height: auto;
	width: auto;
}
#popupImage {
	width: 75%;
	height: auto;
	border-radius: 5px;
	margin: 10px 0;
}
.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.arrow {
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	border: none;
	background: #93132a;
	color: white;
	border-radius: 25%;
}
#homeBtn button {
	position: fixed;
	top: 20px;
	left: 20px;

	padding: 10px 20px;

	border: none;
	border-radius: 0px;
	height: 60px;
	width: auto;
	cursor: pointer;
	font-family: "Montserrat";
	font-size: 24px;
	background-color: #93132a;
	color: #eee;
}
.mapdivOostVl {
	width: 50%;
	height: 50%;
	margin: auto;
}
.mapdivOostVl path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivOostVl polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivOostVl path:hover,
.mapdivOostVl polygon:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}
.mapdivAntwerpen {
	width: 50%;
	height: 50%;
	margin: auto;
}
.mapdivAntwerpen path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivAntwerpen polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivAntwerpen path:hover,
.mapdivAntwerpen polygon:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}

.mapdivwestVL {
	width: 50%;
	height: 50%;
	margin: auto;
}
.mapdivwestVL path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivwestVL polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivwestVL path:hover,
.mapdivwestVL polygon:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}

.mapdivLimburg {
	width: 50%;
	height: 50%;
	margin: auto;
}
.mapdivLimburg path {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivLimburg polygon {
	stroke: #000000;
	stroke-width: 2px;
	transition: fill 0.5s;
}
.mapdivLimburg path:hover,
.mapdivLimburg polygon:hover {
	mix-blend-mode: darken;
	transition: fill 0.3s;
	fill-opacity: 0.5;
}
