.textbox {
	position: relative;
	background-color: white;
	padding: 20px;
	max-width: 90%;
	color: black;
	padding-left: 80px;
	margin-top: 60px;
}

.themas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 30px;
	gap: 30px;
}

.themas img {
	width: 350px;
}

.thema {
	text-align: center;
	background-color: white;
	color: black;
}

.thema div {
	margin-top: -4px;
}

.thema h2 {
	background-color: #f5333f;
	color: #ffc629;
	padding: 30px;
	margin: 0;
}
.thema a {
	text-decoration: none;
}

.begraven h2 {
	background-color: #f5333f;
	padding: 15px;
}

.green h2 {
	background-color: #249e33;
}

.Armoede h1 {
	color: #f5333f;
	padding-top: 200px;
	font-weight: bold;
	font-size: 56px;
}

.Armoede p {
	color: black;
	padding-left: 10%;
	padding-top: 20px;
}

.eindzin {
	font-weight: 600;
	text-align: center;
	padding-top: 150px;
	line-height: 30px;
}

.material-symbols-1 {
	color: black;
	font-size: 20px !important;
}

.material-symbols-outlined-2 {
	color: white;
	font-size: 24px !important;
}

.textbox2 {
	background-color: white;
	padding: 30px;
	max-width: 800px;
	color: black;
	margin-top: 40px;
}

.thema:hover {
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
	transform: translateY(-5px);
	transform: scale(1.02);
	transition: all 0.3s ease;
}
