/*.Armoede li {
	background-color: #ffffff;
	font-family: "Montserrat", sans-serif;
	padding-top: 200px;
	padding-bottom: 0px;
	text-align: left;
	text-decoration: none;
	font-size: 28px;
	font-weight: 600;
	cursor: pointer;
}

.Armoede li a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.Armoede li a:hover {
	color: #f5333f;
}
*/
